<h1>My Profile</h1>
<p>ประวัติส่วนตัว</p>
<img src="/profile.jpg" alt="Profile picture" width="280px" height="450px">

<style>
table, th, td {
  border:1px solid black;
}
</style>

<table>
  <tr>
    <th>ระดับชั้นการศึกษา</th>
    <th>ชื่อสถานศึกษา</th>
  </tr>
  <tr>
    <td>อนุบาล</td>
    <td>โรงเรียนกรพิทักษ์ศึกษา</td>
  </tr>
  <tr>
    <td>ประถมศึกษา</td>
    <td>โรงเรียนอัสสัมชัญธนบุรี</td>
  </tr>
  <tr>
    <td>มัธยมศึกษา</td>
    <td>โรงเรียนอัสสัมชัญธนบุรี</td>
  </tr>
  <tr>
    <td>มหาวิทยาลัย</td>
    <td>จุฬาลงกรณ์มหาวิทยาลัย</td>
  </tr>
</table>

<br>
<p>Sawasdee เฮลโหลววว</p>
